{#
/**
 * @file
 * Default theme implementation for the Content Review Report page.
 *
 * Available variables:
 *   - report_data
 *   - rows
 *
 * @ingroup themeable
 */
#}

{% if not report_data is same as(false) %}
  <p>There are {{ rows }} articles needing review.</p>
  <table>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Created</th>
        <th scope="col">Last Revision Date</th>
        <th scope="col">Overdue By</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      {% for row in report_data %}
        <tr>
          <td><a href="/node/{{ row.nid }}">{{ row.title }}</a></td>
          <td><span style="white-space: nowrap;">{{ row.created }}</span></td>
          <td><span style="white-space: nowrap;">{{ row.last }}</span></td>
          <td>{{ row.diff }}</td>
          <td><a href="/node/{{ row.nid }}/edit">edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No data available.</p>
{% endif %}